{% extends "base.html" %}

{% block title %}{{ project.title }}{% endblock %}

{% block content %}

<div id="content_header">
    <h1>In a nut shell...</h1>
</div>

<div style="background-image: url('/static/img/bg_about.png'); background-repeat: no-repeat; margin: 0px;">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nulla tristique, diam at venenatis feugiat, quam turpis hendrerit velit, in tincidunt dolor elit eget ante.
        Maecenas nec augue sem. Nullam non erat sem. Donec consectetur, nunc id bibendum tempor, mauris turpis vehicula ante,
        vel accumsan odio enim ac enim. Aenean a mauris nec dolor eleifend accumsan. Donec sapien metus, egestas ac malesuada in.</p>
        
        <p>Nulla vulputate risus non leo ornare quis porttitor metus dapibus. Maecenas fermentum vestibulum mauris, eget vestibulum erat tempus sed.
        Suspendisse in nisi dui. Ut lorem ipsum, luctus eget fermentum non, molestie sed mi. Nullam a justo vitae dui tincidunt accumsan.
        Morbi sodales suscipit odio id dapibus. Praesent vitae nisi sem. Mauris bibendum augue sit amet risus sollicitudin molestie.</p>
        
        <p>Quisque ut urna sem, ut euismod tellus. Quisque viverra augue gravida mauris interdum rhoncus.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate mattis mauris, quis faucibus dui aliquet quis. Curabitur id bibendum tellus.
        Vivamus vulputate, lorem ut scelerisque vestibulum, magna massa tincidunt est, non imperdiet ligula arcu sit amet odio.</p>
        
        <p><i>Sincerely The Droids Connect Team</i></p>
        
        <h2>Resources:</h2>
        <div class="resources">
            <a href="files/droids-connect-logo.psd"><img src="files/psd-logo.png" alt="Psd Logo" /></a>
            <a href="files/droids-connect-logo.svg"><img src="files/svg-logo.png" alt="Svg Logo" /></a>
            <a href="files/droids-connect-droids.svg"><img src="files/svg-droids.png" alt="Svg Droids" /></a>
        </div>
</div>

{% endblock %}
