<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>
            {%block title%}{%endblock%}
        </title>
        <style type="text/css">
            @import "/static/site.css";
        </style>
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <h1><a href="/">Droids Connect</a></h1>
                <ul>
                    <li><a href="{% url droidsconnect.project.views.create %}">Create project</a></li>
                    <li>{% if user %}<a href="{% url droidsconnect.auth.views.logout %}">Logout</a>
                    (<a href="{% url droidsconnect.account.views.index %}">{{ user.nickname }}</a>)
                    {% else %}<a href="{% url droidsconnect.auth.views.login %}">Login</a>{% endif %}</li>
                </ul>
            </div>
            <div id="content">
                {%block content%}{%endblock%}
            </div>

        </div>
    </body>
</html>
