{% extends "base.html" %}

{% block title %}Create project{% endblock %}

{% block content %}

<h2>Upload icon for project</h2>

<div id="add_project">
    <div id="project">
        <form action="{% url droidsconnect.project.views.icon_create project.key %}" enctype="multipart/form-data" method="post">
            <div><label>Icon:</label></div>
            <div><input type="file" name="icon"/></div>
            <div><input type="submit" value="Upload"></div>
        </form>
    </div>
</div>

{% endblock %}
