{% extends "base.html" %}

{% block title %}Create project{% endblock %}

{% block content %}

<h2>Edit project</h2>

<p>
{% if project.icon %}
    <img src="{% url droidsconnect.project.views.icon project.key %}" alt="" class="icon">
{% else %}
    <img src="/static/img/default_icon.png" alt="" class="icon">
{% endif %}
</p>

<form method="post" action="{% url droidsconnect.project.views.edit project.key %}" enctype="multipart/form-data">
<ul>
    <li>
        <label>Icon:</label>
        <input type="file" name="icon"/>
    </li>
{{ form.as_ul }}
    <li>
        <input type="submit" value="Save">
    </li>
</ul>
</form>

{% endblock %}
