{% extends "base.html" %}

{% block title %}Create project{% endblock %}

{% block content %}

<h2>Edit project</h2>

<a href="{% url droidsconnect.project.views.icon_create project.key %}"><img src="/static/img/upload_icon.png" alt="Icon" title="The default Android icon will be used if no icon is uploaded" class="icon" /></a>

<form method="post" action="{% url droidsconnect.project.views.edit project.key %}">
<ul>
{{ form.as_ul }}
    <li>
        <input type="submit" value="Save">
    </li>
</ul>
</form>

{% endblock %}
