{% extends "base.html" %}

{% block title %}Create project{% endblock %}

{% block content %}

<div id="add_project">
    <div id="project">
        <form method="post" action="{% url droidsconnect.project.views.create %}" enctype="multipart/form-data">
                <div id="content_header">
                    <div class="top">

                        <p class="project_title inplace {% if form.title.errors %}error{% endif %}">
                            <!--<a href="#"><img src="/static/img/upload_icon.png" alt="Icon" title="The default Android icon will be used if no icon is uploaded" class="icon" /></a>-->
                            
                            <!--<label for="project_title">Project title</label>-->
                            <!--<input type="text" name="project_title" value="" id="project_title" />-->
                            
                            {{ form.title.label_tag }}
                            {{ form.title }}
                            
                            <br/>
                            
                            Is
                            <!--<select name="project_type" id="project_type">-->
                            <!--    <option>Select type</option>-->
                            <!--    <option>an app</option>-->
                            <!--    <option>a game</option>-->
                            <!--</select>-->
                            
                            {{ form.type }}
                            by {{ user.nickname }}
                        </p>
                        {{ form.title.errors }}

                        <p>
                            <label>Icon:</label>
                            <input type="file" name="icon"/>
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div id="add_project_details">
                    <!-- Description -->
                    {{ form.description.errors }}
                    
                    <p id="description" class="inplace {% if form.description.errors %}error{% endif %}">
                        <!--<label for="project_description">Describe your project (but not what you want help with)</label>-->
                        <!--<textarea name="project_description" id="project_description" rows="5"></textarea>-->
                        {{ form.description.label_tag }}
                        {{ form.description }}
                    </p>
                    
                    <!-- Syntax guide -->
                    <div id="syntax_guide">
                        <a class="syntax_guide_link">Markdown syntax.</a>
                        <div class="syntax_guide">
                            <hr />
                            <ul>
                                <li><strong>Unordered list</strong> <i>* item 1</i></li>
                                <li><strong>Link</strong> <i>An [example](http://url.com/ "Title")</i></li>
                                <li><strong>Image</strong> <i>![alt text](/path/img.jpg "Title")</i></li>
                            </ul>
                            <p><a href="http://daringfireball.net/projects/markdown/syntax">Full documentation</a></p>
                        </div>
                    </div>
                    
                    <!-- Links -->
                    <div id="links">
                        <!--<img src="/static/img/project_qr.png" alt="qr code" />-->
                        
                        <p>
                            <!--<label for="project_package_name">Package name (Market lookup (QR code))</label>-->
                            <!--<input type="text" name="project_package_name" id="project_package_name" value="" />-->
                            
                            {{ form.package_name.label_tag }}
                            {{ form.package_name }}
                        </p>
                        
                        <p>
                            <!--<label for="project_web_link">Official website</label>-->
                            <!--<input type="text" name="project_web_link" id="project_web_link" value="" />-->
                            
                            {{ form.project_url.label_tag }}
                            {{ form.project_url }}
                        </p>
                        
                        <p>
                            <!--<label for="project_vcs_link">VCS Link (ie. Github)</label>-->
                            <!--<input type="text" name="project_vcs_link" id="project_vcs_link" value="" />-->
                            
                            {{ form.vcs_url.label_tag }}
                            {{ form.vcs_url }}
                        </p>
                    </div>
                    
                    <!-- Looking for -->
                    <div id="looking_for">
                        <div class="looking_for_artist">
                            <div class="looking_for_checkbox"
                                    <!--<input type="checkbox" name="looking_for_artist" id="looking_for_artist" />-->
                                    <!--Looking for a graphics artist to:-->
                                    
                                    {{ form.needs_artist }}
                                    {{ form.needs_artist.label_tag }}
                            </div>
                            
                            <p id="project_artist" class="inplace">
                                    <!--<label for="project_artist_description">List of things you'd like the graphic artist to do.</label>-->
                                    <!--<textarea name="project_artist_description" id="project_artist_description" rows="2"></textarea>-->
                                    
                                    {{ form.needs_artist_list.label_tag }}
                                    {{ form.needs_artist_list }}
                            </p>
                        </div>
                        
                        <hr />
                        
                        <div class="looking_for_programmer">
                            <div class="looking_for_checkbox"
                                    <!--<input type="checkbox" name="looking_for_artist" id="looking_for_artist" />-->
                                    <!--Looking for a graphics artist to:-->
                                    
                                    {{ form.needs_developer }}
                                    {{ form.needs_developer.label_tag }}
                            </div>
                            
                            <p id="project_artist" class="inplace">
                                    <!--<label for="project_artist_description">List of things you'd like the graphic artist to do.</label>-->
                                    <!--<textarea name="project_artist_description" id="project_artist_description" rows="2"></textarea>-->
                                    
                                    {{ form.needs_developer_list.label_tag }}
                                    {{ form.needs_developer_list }}
                            </p>
                        </div>
                        
                        <hr />
                        
                        <div class="looking_for_copywriter">
                            <div class="looking_for_checkbox"
                                    <!--<input type="checkbox" name="looking_for_artist" id="looking_for_artist" />-->
                                    <!--Looking for a graphics artist to:-->
                                    
                                    {{ form.needs_copywriter }}
                                    {{ form.needs_copywriter.label_tag }}
                            </div>
                            
                            <p id="project_artist" class="inplace">
                                    <!--<label for="project_artist_description">List of things you'd like the graphic artist to do.</label>-->
                                    <!--<textarea name="project_artist_description" id="project_artist_description" rows="2"></textarea>-->
                                    
                                    {{ form.needs_copywriter_list.label_tag }}
                                    {{ form.needs_copywriter_list }}
                            </p>
                        </div>
                    </div>
                    <div class="clear"></div>
                    
                    <hr />
                    
                    <div id="add_project_buttons">
                        
                        <h2>All done? Awesome!</h2>
                        <input type="submit" id="submit_button" value="" />
                        <!--<a href="{% url droidsconnect.project.views.create %}">-->
                        <!--    <img src="/static/img/button_add_project.png" alt="Add project" />-->
                        <!--</a>-->
                    </div>
                </div>

        </form>
    </div>
</div>


{% endblock %}
